<div class="input {{inputClass}}">
  <label for="{{inputId}}" class="input__label">{{labelTitle}}</label>
  <input id="{{inputId}}" type="{{inputType}}" value="{{inputValue}}" placeholder="{{placeholder}}" class="input__field"/>
</div>
