<div class='search'>
  <label for='{{searchId}}' class='search__label'>{{labelTitle}}</label>

  <input
    id='{{searchId}}'
    value='{{searchValue}}'
    placeholder='{{placeholder}}'
    class='search__field'
  />
</div>